<a href="https://colab.research.google.com/github/BeforeTheTeaCools/MachineLearningPractice/blob/main/BostonHousingPricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#uses Boston house prices from 1978

In [2]:
#library
import tensorflow as tf
import pandas as pd

In [4]:
#get file
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
Boston = pd.read_csv(file)
print(Boston.columns)
Boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [7]:
ind = Boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dep = Boston[['medv']]
print(ind.shape, dep.shape)

(506, 13) (506, 1)

In [8]:
#make model
X = tf.keras.layers.Input(shape=[13])
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [13]:
#fit model
model.fit(ind, dep, epochs=1000, verbose=0)
model.fit(ind, dep, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 1ms/step - loss: 25.1849
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6618
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7123
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 25.4667
Epoch 5/10
16/16 [==============================] - 0s 1ms/step - loss: 25.2500
Epoch 6/10
16/16 [==============================] - 0s 1ms/step - loss: 26.1505
Epoch 7/10
16/16 [==============================] - 0s 1ms/step - loss: 25.6403
Epoch 8/10
16/16 [==============================] - 0s 1ms/step - loss: 25.7407
Epoch 9/10
16/16 [==============================] - 0s 1ms/step - loss: 25.3763
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 25.3713

In [14]:
#use model
model.predict(ind[0:5]) #using only 5 for now (slicing)

array([[28.592384],
       [23.839598],
       [29.787622],
       [29.031101],
       [28.443752]], dtype=float32)

In [15]:
dep[0:5]

   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [17]:
#weights
model.get_weights()

[array([[-0.08668943],
        [ 0.06935494],
        [-0.05463233],
        [ 3.2461007 ],
        [ 1.7776383 ],
        [ 4.3287992 ],
        [ 0.00682535],
        [-0.943044  ],
        [ 0.15497726],
        [-0.01142777],
        [-0.07737278],
        [ 0.01493125],
        [-0.55246246]], dtype=float32), array([2.7010534], dtype=float32)]