<a href="https://colab.research.google.com/github/BeforeTheTeaCools/MachineLearningPractice/blob/main/HiddenLayerPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#uses Boston house prices from 1978

In [18]:
#library
import tensorflow as tf
import pandas as pd

In [19]:
#get file
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv'
Boston = pd.read_csv(file)
print(Boston.columns)
Boston.head()

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [20]:
ind = Boston[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat']]
dep = Boston[['medv']]
print(ind.shape, dep.shape)

(506, 13) (506, 1)

In [23]:
#make model
X = tf.keras.layers.Input(shape=[13])
H = tf.keras.layers.Dense(10, activation='swish')(X) #using hidden layers allows for more accurate model
Y = tf.keras.layers.Dense(1)(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [24]:
model.summary()

Model: "model_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_5 (InputLayer)         [(None, 13)]              0
_________________________________________________________________
dense_7 (Dense)              (None, 10)                140
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 11
=================================================================
Total params: 151
Trainable params: 151
Non-trainable params: 0
_________________________________________________________________

In [26]:
#fit model
model.fit(ind, dep, epochs=1000, verbose=0)
model.fit(ind, dep, epochs=10)

Epoch 1/10
16/16 [==============================] - 0s 2ms/step - loss: 16.0300
Epoch 2/10
16/16 [==============================] - 0s 1ms/step - loss: 14.5728
Epoch 3/10
16/16 [==============================] - 0s 1ms/step - loss: 15.3052
Epoch 4/10
16/16 [==============================] - 0s 1ms/step - loss: 15.4978
Epoch 5/10
16/16 [==============================] - 0s 2ms/step - loss: 15.8343
Epoch 6/10
16/16 [==============================] - 0s 2ms/step - loss: 15.1854
Epoch 7/10
16/16 [==============================] - 0s 2ms/step - loss: 15.4188
Epoch 8/10
16/16 [==============================] - 0s 2ms/step - loss: 15.0061
Epoch 9/10
16/16 [==============================] - 0s 2ms/step - loss: 14.8497
Epoch 10/10
16/16 [==============================] - 0s 1ms/step - loss: 14.8284

In [27]:
#use model
print(model.predict(ind[:5]))
print(dep[:5])

[[26.779621]
 [21.347435]
 [26.054583]
 [31.867325]
 [31.05384 ]]
   medv
0  24.0
1  21.6
2  34.7
3  33.4
4  36.2

In [28]:
#weights
model.get_weights()

[array([[-2.1119386e-02,  1.6985369e-01,  8.5070348e-01,  5.0247163e-01,
         -2.2071455e-01,  5.9642326e-02, -2.2800763e-01, -1.0421535e-01,
          3.3912760e-01, -1.4925805e-01],
        [-3.5777450e-01, -6.8668157e-02,  3.3175814e-01,  1.8479013e-01,
         -2.8540158e-01, -5.0506824e-01, -3.3289570e-01, -3.9443919e-01,
         -8.3663119e-03,  2.7570665e-02],
        [-4.6583277e-01,  1.3869846e-01, -5.8939296e-01, -3.6335731e-01,
         -4.6266726e-01,  3.2369980e-01,  5.3787464e-01, -1.0678986e-01,
         -1.0176826e+00, -1.7323229e-01],
        [ 4.9604756e-01,  2.8413177e-01,  3.5525956e+00,  3.0270374e-01,
         -1.0520577e-02, -8.9643347e-01,  3.4364608e-01,  4.6643829e-01,
          1.8330104e+00, -2.9174101e-01],
        [-3.3660907e-01, -4.5432615e-01, -6.7672598e-01, -1.7420733e-01,
         -9.1290939e-01, -9.5692687e-02,  5.0592694e-02, -2.7616844e-01,
          3.6353269e-03, -3.9187196e-01],
        [-2.8971791e-02,  4.9640745e-01, -2.3693545e+00,  1.3871247e-01,
         -1.2841713e-01, -2.0005827e+00,  2.3695765e+00,  2.4631009e+00,
          1.9575619e+00, -8.6439639e-02],
        [-9.7026229e-03, -4.2590392e-01,  5.0792772e-01,  2.2817320e-01,
          3.7843472e-01,  6.0128298e-02, -1.8764076e-01,  1.6785817e-01,
         -5.0936367e-02, -5.9795171e-02],
        [ 4.5005023e-01, -3.3908960e-01, -2.4213262e+00, -3.7442988e-01,
         -1.7692839e+00,  5.7508796e-01, -2.4575616e-01, -1.6036507e-01,
         -4.7465441e-01,  3.2796329e-01],
        [ 2.2174346e-01,  3.8342834e-02,  9.2104979e-02,  4.2610085e-01,
          1.4089181e-01,  2.2764240e-01,  3.8518789e-01,  9.3997777e-02,
         -2.0931797e-01,  2.7356547e-01],
        [-3.9945891e-01, -3.2814717e-01,  1.3594395e-01, -3.2764524e-01,
          4.1271064e-02,  1.3944006e-01, -1.5941197e-03,  1.9915193e-01,
         -7.3170729e-02, -3.5767657e-01],
        [ 2.0760357e-02, -1.8369931e-01, -9.3524687e-02, -1.5770119e-01,
         -7.6708847e-01,  5.2000511e-01,  1.4725745e-01, -9.3939066e-02,
         -9.2137563e-01,  2.0537859e-01],
        [-3.3010116e-01,  3.1729937e-02, -3.0195794e-01, -4.5907190e-01,
         -1.4858317e-02,  2.3121548e-01,  2.0333324e-01,  2.0969565e-01,
          8.4164895e-02, -3.6582857e-02],
        [-8.6196452e-02, -1.5743256e-01,  1.0276965e-01,  2.2759157e-01,
         -2.1152751e+00,  7.5392667e-03, -7.6877296e-01,  3.4598476e-01,
         -1.8485929e-01,  5.0154942e-01]], dtype=float32),
 array([ 0.0000000e+00,  8.9870095e-23,  4.0392062e-01,  0.0000000e+00,
         1.8708843e-01, -9.5969635e-01,  1.2102381e+00,  9.2095405e-01,
         9.5292367e-02, -2.1361708e-23], dtype=float32),
 array([[ 0.07029617],
        [ 0.06161559],
        [ 0.08472592],
        [-0.0741415 ],
        [ 0.96175367],
        [-0.7305941 ],
        [ 0.48952574],
        [ 0.4761824 ],
        [ 1.1712475 ],
        [-0.56205297]], dtype=float32),
 array([0.9454522], dtype=float32)]