<a href="https://colab.research.google.com/github/BeforeTheTeaCools/MachineLearningPractice/blob/main/LemonadeSalesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#library
import tensorflow as tf
import pandas as pd

In [ ]:
#data
file = 'https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv'
data = pd.read_csv(file)
data.head() #to check if it read the file correctly

   온도  판매량
0  20   40
1  21   42
2  22   44
3  23   46
4  24   48

In [ ]:
# independent, dependent variables
ind = data[['온도']]
dep = data[['판매량']]
print(ind.shape, dep.shape)

(6, 1) (6, 1)

In [ ]:
#make model
X = tf.keras.layers.Input(shape=[1]) #1 b/c there's only one independent variable
Y = tf.keras.layers.Dense(1)(X)
model = tf.keras.models.Model(X, Y)
model.compile(loss='mse')

In [ ]:
#fit model
#model.fit(ind, dep, epochs=10000, verbose=0) #verbose makes it so you don't see the thousands of lines of epoch
model.fit(ind, dep, epochs=10)

Epoch 1/10
1/1 [==============================] - 0s 7ms/step - loss: 2.4652e-04
Epoch 2/10
1/1 [==============================] - 0s 7ms/step - loss: 2.4650e-04
Epoch 3/10
1/1 [==============================] - 0s 6ms/step - loss: 2.4649e-04
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 2.4634e-04
Epoch 5/10
1/1 [==============================] - 0s 7ms/step - loss: 2.4622e-04
Epoch 6/10
1/1 [==============================] - 0s 5ms/step - loss: 2.4604e-04
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 2.4585e-04
Epoch 8/10
1/1 [==============================] - 0s 4ms/step - loss: 2.4579e-04
Epoch 9/10
1/1 [==============================] - 0s 6ms/step - loss: 2.4575e-04
Epoch 10/10
1/1 [==============================] - 0s 6ms/step - loss: 2.4565e-04

In [ ]:
#use the model
model.predict(ind)

array([[40.00534 ],
       [41.998806],
       [43.992268],
       [45.985733],
       [47.9792  ],
       [49.972664]], dtype=float32)

In [ ]:
dep

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [ ]:
model.predict([[15]])

array([[30.038015]], dtype=float32)